[DEFAULT]
rules="[{"src_ipaddr":"192.168.12.105/32","dst_ipaddr":"192.168.204.233/32","src_port_min":1024,"src_port_max":65535,"dst_port_min":161,"dst_port_max":161,"ipproto":17},{"src_ipaddr":"10.0.0.1","dst_ipaddr":"10.0.1.1/32","src_port_min":1024,"src_port_max":65535,"dst_port_min":21,"dst_port_max":21,"ipproto":17},{"src_ipaddr":"192.168.138.78/32","dst_ipaddr":"10.1.1.168/32","src_port_min":0,"src_port_max":65535,"dst_port_min":25,"dst_port_max":25,"ipproto":6},{"src_ipaddr":"10.2.184.78/32","dst_ipaddr":"192.168.0.122/32","src_port_min":0,"src_port_max":65535,"dst_port_min":22,"dst_port_max":22,"ipproto":17}]"
